<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company List</title>
</head>
<body>
<h1>Company List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Employees count</th>
        <th>Min Employee per day</th>
        <th>Max Employee per day</th>
        <th>Actions</th>
    </tr>
    <tr th:each="company : ${all_company}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
        <td th:text="${company.employees != null ? company.employees.size : 0}"></td>
        <td th:text="${company.minEmployeePerDay}"></td>
        <td th:text="${company.maxEmployeePerDay}"></td>
        <td>
            <a th:href="@{/work_schedule/company/update/{id}(id=${company.id})}">Edit</a>
            <a th:href="@{/work_schedule/company/delete/{id}(id=${company.id})}">Delete</a>
            <a th:href="@{/work_schedule/company/{companyId}/employee/get_all(companyId=${company.id})}">Employees</a>
        </td>
    </tr>
    <a href="/work_schedule/company/delete_all">DELETE ALL COMPANY</a>
</table>
<a href="/work_schedule/company/add">Add Company</a>
<a href="/work_schedule">Menu</a>
</body>
</html>
