<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Primary Weekends Form</title>
</head>
<body>
<h1 th:text="'Primary Weekends Form for ' + ${employeeName}">Primary Weekends Form</h1>
<form th:object="${weekend}"
      th:action="${weekend.id == null ?
      '/work_schedule/company/' + companyId + '/employee/' + employeeId + '/weekend/add'" method="post">
    <input type="hidden" th:field="*{companyId}">
    <label>Date:</label>
    <input type="text" th:field="*{date}">
    <br>
    <button type="submit">Save</button>
</form>
</body>
</html>