table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: large;
}
th {
    background-color: #f2f2f2;
}

.action-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    display: inline-block;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
}

.main-button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.delete-all-button {
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            margin: 20px auto;
            display: block;
        }