<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<h1 th:text="'Employee List in ' + ${companyName}">Employee List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <tr th:each="employee : ${employees_in_company}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td>
            <a th:href="@{/work_schedule/company/{companyId}/employee/{id}/weekend/add
            (companyId=${companyId}, id=${employee.id})}">Add weekend</a>
            <a th:href="@{/work_schedule/company/{companyId}/employee/update/{id}
            (companyId=${companyId}, id=${employee.id})}">Edit</a>
            <a th:href="@{/work_schedule/company/{companyId}/delete/{id}
            (companyId=${companyId}, id=${employee.id})}">Delete</a>
        </td>
    </tr>
    <a th:href="@{/work_schedule/company/{companyId}/employee/delete_all(companyId=${companyId})}">
        DELETE ALL EMPLOYEES</a>
</table>
<a th:href="@{/work_schedule/company/{companyId}/employee/create(companyId=${companyId})}">
    Add Employee</a>
<a href="/work_schedule">Menu</a>
</body>
</html>