<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<h1 th:text="'Employee with ID ' + ${employeeId}">Employee</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <tr th:object="${employee}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.companyDto != null ? employee.companyDto.name : ''}"></td>
        <td>
            <a th:href="@{/work_schedule/company/{companyId}/employee/{id}/weekend/add
            (companyId=${employee.companyDto.id}, id=${employee.id})}">Add weekend</a>
            <a th:href="@{/work_schedule/company/{companyId}/employee/update/{id}
            (companyId=${employee.companyDto.id}, id=${employee.id})}">Edit</a>
            <a th:href="@{/work_schedule/company/{companyId}/delete/{id}
            (companyId=${employee.companyDto.id}, id=${company.id})}">Delete</a>
        </td>
    </tr>
</table>
<a href="/work_schedule">Menu</a>
</body>
</html>